@charset "UTF-8";
body{ text-align: center; overflow-x: hidden; background: #000; color:#fff; font-weight: 700; }
/*common*/
img{width:100%;}
.intro{ display: flex; flex-direction: column; justify-content: space-between; min-height: 100%; }
.intro-section{ width: 100%; min-height: 700vh; }
.intro-section.auto{ z-index: 2; min-height: unset; background: #FBF6EB;}
.section-tit{ position: relative; margin:-4vw 0 0 4vw; z-index: 3; text-align: left; font-size: 9vw; color:#333; letter-spacing: 4px;}
.section-tit::before{ content: ""; position: absolute; display: block; width: 15%; height: 135%; background: #ffcc00; border-radius: 50%; z-index: -1; }
.section-tit.bg2::before{ background: #FFB84C;}
.section-tit.bg3::before{ background: #38E54D;}
.other{padding: 30vh 0 10vh;}
.btn-line{display: block; margin: 0 auto; padding: 16px 20px; max-width: 190px; font-size: 14px; color: #333; border-radius: 4px; border: solid 1px #333; }
.btn-line.type2{margin: 0; padding: 10px 8px; text-align: center; font-size: 14px; color: #fff; border: solid 2px #eee; transition: all ease-in .5s; }
.btn-line.type2:hover{ background: #fff; color:#000; }
.logo{position:fixed; top:6%; left:50%; transform: translateX(-50%); font-size: 42px;}
.scroll-info-nav{ position:fixed; top:0; right:-4%;}
.scroll-info-nav .lottie-scroll-down{ width: 300px;}
.highlight{ position: relative; }
.highlight::before{ content: ""; position: absolute; left: 0; bottom: 6px; width: 100%; height: 12px; background: #ffcc00; opacity: 0.5; z-index: -1;}
.top-tit{ display:block; padding:15% 0 5%; margin-top:80px; transition: all 1s; opacity: 0; font-size: 54px; color: #000;}
.top-tit.active{ opacity: 1; margin-top:0; }
.top-tit::before,
.top-tit::after{ content: ''; display:block; margin: 50px auto; width: 40px; height:40px; background: url(../images/icon/ico-quotation-mark-up.png) no-repeat center / cover; }
.top-tit::after{background-image: url(../images/icon/ico-quotation-mark-down.png);}
.play-4 #footer{ opacity: 1; z-index: 0; }

/*intro-txt*/
.intro-bg{ position: fixed; top:0; width: 100%; height: 100vh; z-index: 101; transition: all .5s ease-in; background: #fff; color:#ffa500; }
.intro-bg .txt-wrap{ position: relative; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%;}
.intro-bg .txt-wrap::before{ content: ""; position: absolute; left: 50%; top:50%; transform: translate(-50%,-50%); width: 0; height: 0; background: #ffcc00; z-index: -1; border-radius: 50%; animation: scaleAni 2s linear infinite; }
.intro-bg .intro-txt{display: block; letter-spacing: 4px; font-size: 50px; font-weight: 700; }
.intro-bg .intro-txt span{ display: inline-block; margin-top: 20px; animation: moveBottom .5s ease-in forwards; transform: translateY(1000%); opacity: 0; animation-delay: calc(0.15s * var(--int));}

/*---section_1*/
.intro-section.about{ position: relative; background: url(../images/bg_stars.png); background-size: 100% auto; animation: slidein 100s forwards infinite alternate;}
.intro-section .inner-cont{ position: fixed; bottom: 0; display: flex; justify-content:space-around; align-items: end; width: 100%; opacity: 0; background: linear-gradient(transparent 15px, #000 9%);  z-index: -1; }
.intro-section .inner-cont.cont1{ opacity: 1; }
.bg-txt{position: absolute; top:10%; left:20%; z-index: -2; font-size: 40px; letter-spacing: 1px; text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000; }
.bg-txt:nth-child(2n){ text-shadow: 0 0 5px #082180, 0 0 15px #3fefef, 0 0 20px #082180, 0 0 40px #082180, 0 0 60px #3fefef, 0 0 10px #082180, 0 0 98px #0A3940;}
.bg-txt:nth-child(2){top:25%; left:unset; right:20%;}
.bg-txt:nth-child(3){top:40%; left:22%; }
.bg-txt:nth-child(4){top:55%; left:unset; right:22%; }
.intro-talk{ margin: 5% 5% 15% 5%; padding:3%; font-size: 18px; line-height: 1.8; border-radius: 20px; background: #fff; color:#000;}
.intro-section .inner-cont.cont5{ padding-bottom: 10%; display: block; height: 100vh; align-items: center; transition: .3s ease-in; }
.intro-desc{ position: fixed; left:5%; bottom:30%; text-align: left; }
.intro-desc .sub-tit{ display: block; margin-bottom: 20px; font-size: 22px; text-decoration: underline; }
.intro-desc .sub-desc{ font-size: 16px;}
.iphone-wrapper{ width: 300px; overflow: hidden; }
.phone{position: fixed; left:50%; width: 300px; transform: translate(-50%,-50%); transform-origin: left top; overflow: hidden; border-radius: 40px; box-shadow: 0 -2px 4px 2px #fff;}
.phone::before{ content: ""; position: absolute; left:50%; top: 7px; transform: translateX(-50%); width: 74px; height:14px; z-index: 2; background: #000; border-radius: 0 0 9px 9px; }
.iphone-frame{position: relative; width: 100%; z-index: 2;}
.iphone-viewport{position: absolute; top:6px; left:6px; bottom:6px; right: 6px; overflow: hidden; border-radius: 40px; }
.iphone-viewport .iphone-bg{ position: relative; width:100%; height: 100%; object-fit: cover; }
.iphone-viewport:nth-of-type(1){ z-index: 1; background: #fff;}
.iphone-viewport .inner-intro-txt{ position: absolute; top: 25%; left: -50%; padding: 0 24px; width: 200%; height: 50%; transform: rotate(90deg);}
.iphone-viewport .inner-intro-txt .txt-ani{ display: flex; justify-content: center; align-items: center; height: 100%; font-size: 4em; color:transparent; -webkit-text-stroke: 1px #fff;}
.iphone-viewport .inner-intro-txt .word-wrap{ display: inline-block; margin-left: 30px; }
.iphone-viewport .inner-intro-txt .word-wrap .words{ position: relative; display: block; padding: 6px 0; width: fit-content; text-align: left; }
.ending-txt{ padding-top: 30%; transform-origin: center bottom; transition: .3s ease-out; font-size: 38px; line-height: 1.5; text-shadow: 0 0 3px rgba(0,0,0,.5); }
.ending-txt.hidden { visibility: hidden; }
.gallery-wrapper{ position: fixed; right: 0; top: 35%; display: flex; gap:20px; transform: translateY(-50%) rotate(10deg); }
.gallery-wrapper::before{ content:""; position: absolute; top:0; right:0; width:100%; height:130%; background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.99) 99%, rgb(0, 0, 0) 100%); z-index: 1; }
.gallery-container{ display: flex; flex-direction: column; width: 14vw; }
.gallery-container:nth-child(odd){ animation: thumbWork_Up 15s infinite alternate; }
.gallery-container:nth-child(even){ animation: thumbWork_Up 15s infinite alternate-reverse; }
.gallery-list{ width:100%;  }
.gallery-list img{ padding: 8px; border-radius: 20px; }


/*---section_2*/
.intro-section.work{ z-index: 2; background: #FBF6EB; }
  /* index-wrap */
.index-wrap { margin: 0 auto; max-width: 1200px;}
.index-wrap .profile{ display: flex; justify-content: center; align-items: center; gap:100px; padding: 60px 24px; line-height: 1.6; color:#000; background: #fff; box-shadow: 1px 1px 9px 7px rgba(255, 204, 0, 0.1); }
.index-wrap .profile-photo{ display: flex; justify-content: center; align-items: center; flex-direction: column; }
.index-wrap .profile-info{ text-align: left; }
.index-wrap .profile .profile-info-tit{ position: relative; z-index: 0; font-size: 24px; }
.index-wrap .profile .profile-info-tit::before{ content: ""; position: absolute; left:0; bottom: 4px; width:100%; height: 8px; background: #ffcc00; opacity: 0.5; z-index: -1; }
.index-wrap .profile .name{ display: block; margin: 20px 0; font-size: 20px;}
.index-wrap .profile-info .sub{ display: block; margin: 20px 0 40px; font-size: 16px; color:#141414;}
.index-wrap .profile-info .sub strong{ display: block; margin-bottom: 10px; font-size: 20px; }
.index-wrap .profile-info .desc{ font-size: 16px; color:#333;}
.profile-thumb{width: 160px; height: 160px; border-radius: 50%; overflow: hidden; }
.profile-thumb img{width: 100%; }
.index-wrap .index-cont{ position: relative; display: flex; flex-flow:column wrap; margin: 8% 2%;}
.index-wrap .index-cont::before{ content: ""; display: block; position: absolute; top:0; left:50%; width: 2px; height: 100%; background: #f9d027; }
.index-wrap .index-list{ position: relative; width: 40%; margin: 4%; padding-bottom:40px; transform: translateX(50%); opacity: 1; transition: all .3s ease-in; border-radius: 24px; background: #fff; box-shadow:8px 8px 0px rgba(255,204,0,.3);}
.index-wrap .index-list:nth-child(even){ margin: -100px 0 0 56%; transform: translateX(-50%); }
.index-wrap .index-list::before{ content: ""; position: absolute; top:10%; right: -18%; width: 20px; height:20px; background: #ffcc00; border-radius: 50%; box-shadow: inset 0px 0px 0px 6px rgba(255,255,255,1); }
.index-wrap .index-list::after{ content: ""; position: absolute; top:12%; right: -18%; width: 100%; height:2px; background: #ffcc00; z-index: -1; }
.index-wrap .index-list:nth-child(even)::before{ right:unset; left:-17.5%; }
.index-wrap .index-list:nth-child(even)::after{ right:unset; left:-16%; }
.index-wrap .index-list.active{ transform: translateX(0); opacity: 1; }
.index-wrap .index-cont .index-tit{ margin-bottom: 30px; padding: 18px 16px; font-size: 26px; letter-spacing: 5px; background: #ffcc00; letter-spacing: 3px; border-radius: 24px 24px 0 0;}
.index-wrap .index-cont .index-desc{ position: relative; padding: 14px 40px; text-align: left; font-size: 18px; color:#000; }
.index-wrap .index-cont .index-desc::before{ content: ""; display:inline-block; margin-right: 12px; width: 16px; height:16px; vertical-align: middle; background: url(../images/icon/ico-checkmark.png) no-repeat center / cover; }
 

/*---section_3*/
.intro-section.what-do{ z-index: 2; }
  /*work*/
.horizontal-intro{ position:sticky; top:0; display:flex; align-items: center; width: fit-content; height: 100vh; transform: translate3d(0, 0, 0); background: #000;}
.horizontal-intro-txt{ min-width:60vw; padding:60px; text-align: left; color:#fff; }
.horizontal-intro-txt .inner-txt{ margin-bottom: 40px; }
.horizontal-intro-txt .sub-tit{ display: block; margin: 80px 0 60px; font-size: 48px; }
.horizontal-intro-txt .main-tit{ font-size: 26px; border-bottom: 2px solid #fff;}
.horizontal-intro-txt .desc{ margin-bottom: 24px; font-size: 18px; line-height: 1.6; font-weight: 400; opacity: 0.7; }
.horizontal-intro-txt .desc2{ display: block; font-size: 16px; line-height: 26px; }
.work-wrap{ position: relative; display: flex; flex-direction: column; align-items: center; margin-left:100px; height: 100%;}
.work-wrap .work-cont-txt{ padding:40px 0 40px 60px; width: 100%; display: flex; align-items:center; text-align: left; font-size:60px; color:#fff; }
.work-wrap .work-cont-txt .inner-border{ margin-left: 60px; }
.work-wrap .work-cont-txt::before{ font-size: 120px; letter-spacing: 2px; color:#eee; opacity: 0.5;}
.work-wrap.work-cont1 .work-cont-txt::before{ content: "NEW";}
.work-wrap.work-cont2 .work-cont-txt::before{ content: "IMPROVE";}
.work-wrap.work-cont3 .work-cont-txt::before{ content: "EVENT";}
.work-wrap + .work-wrap{ margin-left:200px;}
.work-list-wrap{ display: flex; align-items: center; padding:0 60px; height: 100%; }
.work-wrap li{ position: relative; width: 260px; transition: .3s ease-in; background: #fff; border-radius: 20px; box-shadow: 0 25px 25px rgba(0,0,0,0.1); overflow: hidden; }
.work-wrap li.active::before{ opacity: 0; }
.work-wrap li span{ display: block; }
.work-wrap li + li{ margin-left:40px; }

/*---section_4*/
  /*project*/
.project-wrapper{ margin: 0 auto; padding:4% 2%; max-width: 1200px; }
.project-container{ display: grid; grid-template-columns: repeat(auto-fill,minmax(340px,1fr)); padding-bottom: 10%; }
.project-list{ position: relative; margin: 6%; padding: 4%; transition: ease-in 0.2s; cursor: pointer; background: #fff; box-shadow: 0 2px 2px 0 rgba(0,0,0,.2); color:#333; border-radius: 4px;} 
.project-list.disabled{ pointer-events: none; user-select: none; } 
.project-list.disabled::before{ content: ""; position: absolute; left:0; top:0; width:100%; height:100%; background: rgba(0,0,0,.7); } 
.project-list.disabled::after{ content: "Comming SOON!"; position: absolute; left:50%; top:50%; transform: translate(-50%,-50%); width:100%; font-size: 22px; color: #fff; letter-spacing: 2px; }
.project-list:hover{ transform: scale(1.05); box-shadow: 0 4px 4px 0 rgba(0,0,0,.4); } 
.project-list .project-thumb{ height: 220px; background: #FFEDF8; } 
.project-list:nth-child(2n) .project-thumb{ background: #FFEBEB; } 
.project-list .project-thumb img{ height: 100%; object-fit: contain; } 
.project-list .project-thumb.icon-thumb{ padding : 30px;} 
.project-list .project-txt{padding:20px 0;  font-size: 20px;}
.project-list .tag{ padding:10px 0; font-size: 16px;  letter-spacing: 1px; }
.project-list .tag span{ padding:6px 0; }

/*---section_5*/
.next .text-box{ display: flex; justify-content: space-between; padding:4% 8% 6%; margin: 0 auto; max-width: 1200px; text-align: left; font-size: 30px; color:#000; }
.next .text-box .main-tit span{ display: block; }
  /*find-wrap*/
.find-wrap{ position: relative; display: flex; justify-content: center; align-items: center; height: 100vh; background: #fff; color:#119ac4; overflow: hidden; }
.find-wrap .circle-wrap{ position: relative; width: 100%; height: 100%; }
.find-wrap .circle{ position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); width: 100%; padding-top: 100%; border: 2px solid #ccc; border-radius: 50%; animation: borderChange 1s ease-in infinite; }
.find-wrap .circle:nth-child(2){ width: 20%; padding-top: 20%;}
.find-wrap .circle:nth-child(3){ width: 40%; padding-top: 40%;}
.find-wrap .circle:nth-child(4){ width: 60%; padding-top: 60%; }
.find-wrap .circle:nth-child(5){ width: 80%; padding-top: 80%;}
.find-wrap .circle:nth-child(odd){ animation-direction: reverse;}
.find-wrap .find-txt{ position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.find-wrap .find-txt > p{ font-size: 18px; }
.find-wrap .icon{ margin: 0 auto; width:20%; }
.find-wrap .random-thumb{ position: absolute; transform: translate(-50%,-50%); width: 12%; max-width: 120px; opacity: 0; cursor: pointer; }
.find-wrap .random-thumb.yeji{ width: 22%; max-width: 220px;}
.find-wrap .random-thumb.position-1{ left:34%; top:64%; animation: thumbIntro .5s ease-in forwards;}
.find-wrap .random-thumb.position-2{ left:18%; top:32%; animation: thumbIntro .5s ease-in forwards;}
.find-wrap .random-thumb.position-3{ left:86%; top:57%; animation: thumbIntro .5s ease-in forwards;}
.find-wrap .random-thumb.position-4{ left:60%; top:27%; animation: thumbIntro .5s ease-in forwards;}
.find-wrap .find-msg{ position: absolute; left:50%; top:50%; transform: translate(-50%, 300%); padding:40px; width: 50%; max-width: 450px; transition: all .5s ease-in; font-size: 20px; opacity: 0; border-radius: 16px; box-shadow: 0 2px 6px 0 rgba(0,0,0,0.5); background: #fff; color:#000; }
.find-wrap .find-msg.active{ transform: translate(-50%,-50%); opacity: 1;}

/*footer*/
#footer{ position: fixed; left:0; bottom:0; width:100%; opacity: 0; z-index: -1; padding: 60px; text-align: left; font-size: 26px; background: #000; color:#fff; }
#footer .footer-top{ display: flex; align-items: center; justify-content: space-between; padding-bottom: 30px; border-bottom: 1px solid #6e6e73;}
#footer .contact{ display: flex; align-content: center; padding: 80px 0; }
#footer .contact li{ flex:1; text-align: center; font-size: 18px; color:#ccc; }
#footer .contact li .fi::before{ display: block; margin: 0 auto 24px; }
#footer .contact li + li{ margin-left: 40px; }
#footer .contact-tit{ font-size: 20px; }
#footer .contact-item{display: block; margin-top: 24px; color:#ccc; text-decoration: underline; } 
#footer .footer-copyright{ text-align: center; font-size: 16px; font-weight: 400; color:#ccc;}

/*keyframes*/
@keyframes scanning {
  0%, 100%{height: 100%;}
  50%{height: 0;}
}
@keyframes scanningLine {
  0% , 100%{margin-top: 100%;}
  50%{margin-top: 0;}
}
@keyframes scanningTxt {
  0% , 100%{opacity: 0;}
  50%{opacity: 1;}
}
@keyframes moveRight {
  0%{ transform: translateX(-100%); opacity: 0; }
  100%{ transform: translateX(0);  opacity: 1;}
}
@keyframes moveBottom {
  0%{ transform: translateY(1000%); opacity: 0; }
  100%{ transform: translateY(0);  opacity: 1;}
}
@keyframes scaleAni {
  0%, 100%{ width: 0; height: 0; opacity: 0; }
  50%{ width: 400px; height: 400px; opacity: 1;}
}
@keyframes slidein {
  0% {background-position: top; background-size:100%; }
  100% {background-position: bottom; background-size:50%;}
}
@keyframes borderChange {
  0%{opacity: 0.5; }
  100%{opacity: 1; }
}
@keyframes thumbIntro {
  0%{opacity: 0; padding-top: 50px; }
  100%{opacity: 1; padding-top: 0; }
}
@keyframes thumbWork_Up {
  0%{ transform: translate3d(0,0,0); }
  100%{transform: translate3d(0,10%,0);}
}


/*media*/
@media only screen and (min-width: 1920px) {
  .logo{font-size: 60px;}
  .bg-txt{font-size: 44px;}
  .gallery-container{ width: 10vw; }
  .work-wrap .work-cont-txt{padding: 100px 0 60px 60px;}
  .work-wrap li{width: 320px;}
  .horizontal-intro-txt .sub-tit{font-size: 60px;}
  .horizontal-intro-txt .desc{font-size: 22px;}
  .horizontal-intro-txt .desc2{font-size: 22px;}
  .horizontal-intro-txt .desc2 + .desc2{  margin-top: 10px;}
}
@media only screen and (min-width: 645px) and (max-height: 700px) {
  .intro-section.about .inner-cont{ flex-direction: initial !important; align-items: flex-end !important; padding: 0 40px;}
  .intro-section.about .intro-talk{margin: 5% 0 10% 4% !important;} 
  .phone{width: 240px;}
  .horizontal-intro-txt .sub-tit{margin : 20px 0 20px}
  .horizontal-intro-txt .desc{font-size: 16px;}
  .work-wrap .work-cont-txt{padding: 24px 0 24px 60px;}
  .work-wrap .work-cont-txt::before{font-size: 70px;}
  .work-wrap .work-cont-txt .inner-border{ margin-left: 40px; font-size: 42px;}
  .work-wrap li{width: 194px;}
}