body{background: #fff1e5;}
.wrapper{min-height:100%; }
.bg1{background: #fff;}
.work-list{display: flex; flex-direction: column; margin: 0 auto; max-width: 1200px; }
.work-list > .list{ display: flex; align-items: center; margin:5% 3%; gap: 60px; }
.work-list > .list .list-num{ display: block; margin-bottom: 20px; font-size: 120px; color: #b09999; border-bottom: 1px solid #b09999; }
.work-list > .list:nth-child(2n){flex-direction: row-reverse;}
.work-list > .list:nth-child(2n) .list-num{color:#836262; border-bottom: 1px solid #836262;}
.shape-wrapper{ position: relative; flex:2; margin:2%; padding:60px 20px 40px; min-width: 400px; max-width: 55%; background: #000; border-radius: 28px; }
.shape-wrapper + .shape-wrapper{ margin-top:10%; }
.shape-wrapper::before{ content: ""; position: absolute; top:30px; left:50%; transform: translateX(-50%); width:70px; height: 4px; border-radius: 2px; background: #ccc; }
.list-desc{flex:1;}
.list-desc .work-tit{ margin-bottom: 30px; font-size: 26px; color: #000; }
.list-desc .work-txt{ font-size: 18px; line-height: 1.6; }
.modal-wrap{position: absolute; left: 0; top:0; width:100%; height:100%; background: rgba(0,0,0,.5); z-index: 999;}
.modal-wrap .modal-layer { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 300px; padding-top: 26px; background: #fff; border-radius: 10px; z-index: 1002; }
.modal-wrap .modal_btn { width: 100%; height: 50px; font-size: 16px; line-height: 50px; border-radius: 0 0 10px 10px; background: #0D4C92; color:#fff; }
.modal-wrap .prize { padding:20px 24px; font-size: 14px; color:#000; }
.modal-wrap .prize .item-name { font-size: 16px; color:#0D4C92;}