/*헤더상단*/
header{height: 3rem; border-bottom: 1px solid #d9d9d9;}
header h1 a{display: none;}

/*오른쪽 메뉴*/
header .right_menu{top: 0; right: .2rem;}
header .right_menu .login_box{display: none;}
header .right_menu .my{width: 2.5rem; height: 3rem; background-size: 1.4rem auto; margin: 0;}
header .right_menu .menu{width: 3rem; height: 3rem; background-size: 1.5rem auto;}

/*메뉴*/
header nav{text-align: left;}
header .nav.on{position: fixed;; top: 0; right: -100%; width: calc(100% - 2.25rem); height: 100%; background: #fff; z-index: 30; transition: all .5s;}
header .nav.on.active{right: 0;}
header nav .menu_top{display: flex; justify-content: space-between; padding: .8rem .75rem; border-bottom: 1px solid #f0f0f0; }
header nav .menu_top span{margin: 0 .75rem 0 0; font-size: .8rem; color:#000;}
header nav .menu_top .m_login{display: inline-block; width: 3.55rem; height: 1.5rem; text-align: center; line-height: 1.5rem; font-size: .7rem; color:#7f7f7f; border:1px solid #c5c5c5;}
header nav .menu_top .m_right{position: relative; display: inline-block; text-align: right;}
header nav .menu_top .m_right a{position: absolute; top: 50%; right: 1.5rem; transform: translateY(-50%); display: inline-block; width: 1.55rem; height: 1.25rem; background: url(../img/ico_home.png) no-repeat;
margin: 0 .8rem 0 0; background-size: 100% auto;}
header nav .menu_top .m_right button{position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 1.3rem; height: 1.3rem; background: url(../img/ico_close.png) no-repeat; cursor: pointer; background-size: 100% auto;}
/**/
header nav > ul {display:block; height:100%;}
header nav > ul > li{display:block;}
header nav > ul > li > a{padding: .6rem; font-size: 1.1rem; position: relative;}
header nav > ul > li > a::after{content: ""; display:inline-block; width: .55rem; height: .35rem; background: url(../img/m_ico_arrow_down.png) no-repeat; position: absolute; right: .65rem ; top:50%; ; transform: translateY(-50%);}
header nav > ul > li > a.active::after{transform: rotate(180deg);}
header nav ul ul{position: static; text-align: left; display: none; padding: 0; border-top: 1px solid #ff7200;}
header nav ul ul li{padding: 0 .75rem; background: #f0f0f0;}
header nav ul ul > li > a{border-bottom:1px solid #d3d3d3;}
header nav ul ul > li:last-child a{border-bottom:none;}
header nav ul ul a{padding: .6rem 0; text-align: left; font-size: .75rem; color:#777;}

/*sub_header*/
.sub_header{display: block; position: absolute; top: 0; left: 0; width:100%;}
.sub_header a{display: inline-block; position: absolute; top: 0; left: .75rem; width: 3rem; height: 3rem; background: url(../img/btn_m_back.png) no-repeat left center / .6rem auto;}
.sub_header h2{position: absolute; top: 1rem; left: 50%; transform: translateX(-50%); display: inline-block; text-align: center; font-size: .8rem; color:#222; letter-spacing: -1.5px;}

/*라이프케어 서비스*/
.life_care .service_wrap{max-width: 40rem;}
.life_care .service {padding: 2.5rem .75rem 0;}
.life_care .service:last-child {padding: 2.5rem .75rem;}
.life_care .service .service_txt p{font-size: .75rem;}
.life_care .service ul{margin:1.75rem 0;}
.life_care .service ul li{display: inline-block; width:calc( 50% - .5rem);}
.life_care .service ul li ~ li{padding: 0;}
.life_care .service ul li:nth-child(even){padding: 0 0 0 .5rem;}
.life_care .service ul li:nth-child(odd){padding: 0 0 .5rem;}

/*FAQ*/
.life_faq {padding: 2.5rem .75rem ; max-width: 40rem;}

/*0~ 500px 미디어 쿼리*/
@media (max-width:500px){
  .sub_login{padding: .75rem;}
  .sub_login .sub_login_txt a{display:block; margin: .75rem 0 ; width:100%; height: 2.05rem;}
  .life_care .service ul li{display: block; width:100%;}
  .life_care .service ul li ~ li{margin: .5rem 0 0 0;}
  .life_care .service ul li:nth-child(even){padding: 0;}
  .life_care .service ul li:nth-child(odd){padding: 0;}
}

/*537~ 620px 미디어 쿼리*/
@media (min-width:537px) and (max-width:620px){
  .sub_bg h2{font-size: 1.7rem;}
  .sub_bg p{font-size: .75rem; letter-spacing: -1px;}
}

/*360~ 619px 미디어 쿼리*/
@media (min-width:0px) and (max-width:619px){
  .sub_bg h2{font-size: 1.2rem; letter-spacing: -1px;}
}

/*footer*/
footer {padding:0 0 4.5rem 0;}
footer .footer_wrap{width:100%; margin: 0 auto;}
footer div.border{border-bottom: 0;}
footer div.right{float:none;}
footer div.right select{float:none; width: 100%; height: 2.2rem; font-size: .8rem; background: url(../img/select_arrow_up.png) no-repeat right .65rem center;}
footer .tel_number ul {float:none; text-align: center; padding: .85rem 0 ; border-bottom: 1px solid #535252;}
footer .tel_number ul li{padding: 0 .5rem; font-size: .85rem; }
footer .tel_number ul li strong{display: inline-block; font-size: 1.1rem; margin: 0 0 0 .5rem;}
footer .tel_number ul li ~ li::before{display: none;}
footer div.left{float: none; margin: 0 auto; }
footer nav {width:100%; margin: 0 auto;}
footer nav ul {text-align: center; margin: 0 0 1rem 0;}
footer nav ul li a{font-size: .65rem;}
footer button{display: block; width: 100%; padding: .3rem 0; background: none; color:#fff; cursor: pointer;}
footer button span{display: inline-block; margin: 0 0 0 .3rem; width: .65rem; height: .35rem; background: url(../img/btn_m_down.png) no-repeat; vertical-align: 1px;}
footer .address{display: none; text-align: center; padding: .5rem 1rem;}
footer .icon{padding: 1.5rem 0 0 0;}
footer .icon .logo{display: none;}
footer .icon .sns{float: none; text-align: center;}
