/*header_top*/
header .header_top{position: relative; margin: 0 auto; width:100%; height: 50px;}
header .header_top h2 {left: 15px;}
header .header h1{left:20px;}

/*lnb*/
.header .lnb{display: none;}
.mb_menu{display: block; position: absolute; top: 0; right: 10px; height: 89px;}
.mb_menu a{display: inline-block; width: 60px; height: 89px;}
.mb_menu a.search{background: url(../img/ico_menu_search.png) no-repeat center / 25px auto;}
.mb_menu a.btn_menu{background: url(../img/ico_menu.png) no-repeat center / 40px auto;}

/*search_box*/
.search_box_close {display: none;}

/*mb_open*/
.mb_open {display: block; position: fixed; width: 100%; top: 0; left: -100%; bottom: 0; padding: 10px 40px 40px 40px; box-sizing: border-box; z-index:30; background: #fff; overflow: auto; transition: all .3s ease;}
.mb_open.on{left: 0;}
.mb_open .mb_top {display: flex; justify-content: space-between;}
.mb_open .mb_top h2 a{display: block; margin: 10px 0 0 0; width: 310px;}
.mb_open .mb_top h2 img{width: 100%;}
.mb_open .mb_top button{width: 60px; height: 60px; background: url(../img/btn_close.png) no-repeat center / 60px auto;}
.mb_open .btn_login{margin-top: 50px; width:50%; height: 67px; border:1px solid #727272; box-sizing: border-box;}
.mb_open .btn_login a{display: block; font-size: 28px; line-height: 67px; text-align: center; font-weight: bold; color:#727272;}
.mb_open .btn_login a::before{content: ""; display: inline-block; width: 25px; height: 25px; background: url(../img/ico_my02.png) no-repeat center / 100% auto; margin-right: 20px; }
/*lnb2 , select_box*/
header .header .lnb2{display:none;}
.select_box > ul{display: flex; margin: 15px 0 0 0;}
.select_box > ul > li{flex:1; position: relative;}
.select_box > ul > li ~ li{margin: 0 0 0 5%;}
.select_box > ul > li > a{display: block; padding: 25px 0; font-weight: bold; font-size: 32px; color:#333; border-bottom: 1px solid #727272;}
.select_box > ul > li > a::after,
.m_nav > ul > li > a::after {content: ""; display: inline-block; width: 22px; height: 12px; background: url(../img/button_arrow_down02.png) no-repeat center / 100% auto; position: absolute; top: 50%; right: 0; transform: translateY(-50%);}
.m_nav > ul > li.on > a::after {transform: rotate(180deg);}
.select_box a.accordion.on{color:#0066eb;}
.select_box a.accordion.on::after{transform: rotate(180deg);}
.select_box ul ul{display: none; position: absolute; top: 94px; width: 100%; padding: 9px; background: #fff; border:1px solid #dddddd; box-sizing: border-box; z-index: 1;}
.select_box ul ul.on{display: block;}
.select_box ul ul > li {background: #f6f6f6; height: 80px;}
.select_box ul ul > li ~ li {margin: 10px 0 0 0;}
.select_box ul ul > li > a {display:block; text-indent: 9px; line-height: 80px; color:#333; font-size: 32px; font-weight: bold;}
.select_box ul ul > li > a:hover {color:#fff; background: #222;}
.m_nav > ul {margin: 85px 0 0 0;}
.m_nav > ul > li {width: 100%;}
.m_nav > ul > li > a{display: block; position: relative; padding: 25px 0; font-size: 32px; color:#333; font-weight: bold; border-bottom: 1px solid #727272;}
.m_nav ul ul{display: none; padding: 0 0 0 10%;}
.m_nav ul ul > li > a{display: block; padding: 25px 0; font-size: 32px; color:#333; border-bottom: 1px solid #727272;}
.m_quick ul{display: flex; flex-wrap: wrap; padding: 100px 0 50px 0;}
.m_quick ul li{width:46%; height: 100px; background: #1F2328;}
.m_quick ul li:nth-child(2n){margin-left: 4%;}
.m_quick ul li:nth-child(3),
.m_quick ul li:nth-child(4){margin-top: 30px;}
.m_quick ul li a{display: block; text-align: center; font-size: 32px; color:#fff; line-height: 100px;}
.m_quick ul li a::before{content: ""; display: inline-block; width: 50px; height: 50px; vertical-align: -10px; margin-right: 10px;}
.m_quick ul li:nth-child(1) a::before{background: url(../img/ico_m_quick01.png) no-repeat center / 100% auto; vertical-align: -10px; margin-right: 10px;}
.m_quick ul li:nth-child(2) a::before{background: url(../img/ico_m_quick02.png) no-repeat center / 100% auto; vertical-align: -10px; margin-right: 10px;}
.m_quick ul li:nth-child(3) a::before{background: url(../img/ico_m_quick03.png) no-repeat center / 100% auto; vertical-align: -10px; margin-right: 10px;}
.m_quick ul li:nth-child(4) a::before{background: url(../img/ico_m_quick04.png) no-repeat center / 100% auto; vertical-align: -10px; margin-right: 10px;}

/*content-side padding*/
.line{margin: 0 auto; padding: 89px 2%;}
.banner_slide{padding: 85px 0 0 0; margin: 0 2%;}
.top5 {padding: 89px 2%;}
.hot_place{padding: 0 2%;}
.info_banner{padding: 115px 2%;}
.video{padding: 0 2%;}
.footer_top ul{width: 95%; margin: 0 auto;}
.footer_cont .footer_menu{display: none;}
.footer_bottom{width: 95%;}

/*footer_info*/
.footer_info{display: block; max-width: 95%; padding: 25px 0;}
.footer_info .info_element{width: 100%; margin: 0 ; float: none;}
.footer_info .element1{padding: 0 ;}
.footer_info .element2 {width: 100%; padding: 40px 0 0 0;}
.footer_info .element2::after {content: ""; display: block; clear: both;}
.footer_info .element2 > div{width: auto;}
.footer_info .element2 > div ~ div{margin: 0 0 0 5%;}
.footer_info .element3{padding: 0 ; width: 100%;}
.footer_info .element3 > div{float: left;}
.footer_info .element3 > div:last-child{margin: 0 0 0 5%;}
.info_box .sns {margin: 0;}

@media (min-width:770px) and (max-width:930px){

  .hot_place ul.area_list li .img_hover p{font-size: 13px; letter-spacing: -0.2px;}
}
